nav.navbar
{
    justify-content: space-between;
    background-color: rgb(73, 0, 45);
    border-radius: 12px;
    border: 2px solid whitesmoke;
    margin: 0 0px;
    padding: 0px 3px 3px 3px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    line-height: 120%;
    overflow: hidden;
}

a.internal-link.navbutton-left
{
    text-decoration: none!important;
    font-size:2em!important;
    padding-left: 35px;
    width: 60px;
    text-align: center;
}

a.internal-link.navbutton-right
{
    text-decoration: none!important;
    font-size:2em!important;
    width: 60px;
    padding-right: 35px;
    text-align: center;
}